/* index.css */
.app {
    background-image: url('./Assets/he.jpg' );/* Replace with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Ensure it covers the entire height of the viewport */
    display: flex;
    flex-direction: column;
  }
  
  body {
    margin: 0;
    font-family: 'Arial', sans-serif; /* You can use any font you prefer */
    background-color: transparent; /* Ensures the body has no background color */
  }
  